{{ 'component-get-involved.css' | asset_url | stylesheet_tag }}

<section class="section-give animate-in-scroll-trigger">
    <div class="container page-width">
        <div class="give-grid">
            <div class="give-left">
                <div class="section-title-row animate-item animate-item-0">
                    {% if section.settings.icon != blank %}
                        <img src="{{ section.settings.icon | image_url }}" alt="Give Icon" class="section-icon">
                    {% endif %}
                    <h2 class="main-heading">{{ section.settings.title }}</h2>
                </div>
                <h3 class="red-subheading animate-item animate-item-1">{{ section.settings.subtitle }}</h3>
                <div class="body-text-list animate-item animate-item-2">
                    {{ section.settings.text }}
                </div>
                <div class="give-btn-container animate-item animate-item-4">
                    <a href="{{ section.settings.button_link }}" class="btn-red button--pulse">{{ section.settings.button_label }}</a>
                </div>
            </div>

            <div class="give-right">
                {% if section.settings.image != blank %}
                    <img src="{{ section.settings.image | image_url: width: 533, height: 425 }}" alt="Child in tent" class="give-image animate-item animate-item-3">
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "Give Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "icon",
      "label": "Icon"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Give"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "10,000 shirts = 10,000 acts of resistance."
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>What you wear can change the world.</p><p>Every design carries a story of loss, of courage, of hope.</p><p>When you wear it, you become part of that story.</p><p>You carry their names.</p><p>You amplify their voices.</p><p>This isn’t just clothing it’s testimony.</p><p>It's solidarity stitched in cotton and ink.</p><p>Because fashion fades.</p><p>But resistance never.</p>"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Donate now"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "Give Section"
    }
  ]
}
{% endschema %}
