{{ 'section-impact-two-column.css' | asset_url | stylesheet_tag }}

<div class="impact-two-column-section page-width animate-in-scroll-trigger">
  <h1 class="impact-two-column-title animate-item animate-item-0">{{ section.settings.title }}</h1>
  <h3 class="impact-two-column-subtitle animate-item animate-item-1">{{ section.settings.subtitle }}</h3>
  <div class="impact-two-column-content">
    <div class="impact-two-column-left animate-item animate-item-2">
      <div class="text-part">{{ section.settings.text }}</div>
    </div>
    <div class="impact-two-column-right animate-item animate-item-3">
      {% if section.settings.image != blank %}
        <img src="{{ section.settings.image | image_url: width: 800 }}" alt="{{ section.settings.image.alt | escape }}">
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Impact Two Column",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Title"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "<p>Subtitle</p>"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "Impact Two Column",
      "category": "ADVANCED LAYOUT"
    }
  ]
}
{% endschema %}
