<section class="account account--auth">
  <div class="container account__inner">
    <div class="account__panel">
      <h1 class="account__title">{{ 'customer.reset_password.title' | t }}</h1>
      {% form 'reset_customer_password' %}
        {{ form.errors | default_errors }}
        <p class="account__description">{{ 'customer.reset_password.subtext' | t }}</p>
        <label class="account__label" for="ResetPassword">{{ 'customer.reset_password.password' | t }}</label>
        <input id="ResetPassword" type="password" name="customer[password]" required class="account__input">
        <label class="account__label" for="PasswordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
        <input id="PasswordConfirmation" type="password" name="customer[password_confirmation]" required class="account__input">
        <button class="btn btn--light account__submit" type="submit">{{ 'customer.reset_password.submit' | t }}</button>
      {% endform %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Customer reset password",
  "tag": "section",
  "class": "section-account",
  "settings": []
}
{% endschema %}
