<section class="account account--auth">
  <div class="container account__inner">
    <div class="account__panel">
      <h1 class="account__title">{{ 'customer.login.title' | t }}</h1>
      {% form 'customer_login' %}
        {{ form.errors | default_errors }}
        <label class="account__label" for="CustomerEmail">{{ 'customer.login.email' | t }}</label>
        <input id="CustomerEmail" type="email" name="customer[email]" value="{{ form.email }}" required class="account__input">
        <label class="account__label" for="CustomerPassword">{{ 'customer.login.password' | t }}</label>
        <input id="CustomerPassword" type="password" name="customer[password]" required class="account__input">
        <button class="btn btn--light account__submit" type="submit">{{ 'customer.login.sign_in' | t }}</button>
        <a class="account__link" href="{{ routes.account_register_url }}">{{ 'customer.login.create_account' | t }}</a>
        <a class="account__link" href="{{ routes.account_reset_url }}">{{ 'customer.login.forgot_password' | t }}</a>
      {% endform %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Customer login",
  "tag": "section",
  "class": "section-account",
  "settings": []
}
{% endschema %}
