<section class="account account--auth">
  <div class="container account__inner">
    <div class="account__panel">
      <h1 class="account__title">{{ 'customer.register.title' | t }}</h1>
      {% form 'create_customer' %}
        {{ form.errors | default_errors }}
        <label class="account__label" for="RegisterFirstName">{{ 'customer.register.first_name' | t }}</label>
        <input id="RegisterFirstName" type="text" name="customer[first_name]" value="{{ form.first_name }}" class="account__input">
        <label class="account__label" for="RegisterLastName">{{ 'customer.register.last_name' | t }}</label>
        <input id="RegisterLastName" type="text" name="customer[last_name]" value="{{ form.last_name }}" class="account__input">
        <label class="account__label" for="RegisterEmail">{{ 'customer.register.email' | t }}</label>
        <input id="RegisterEmail" type="email" name="customer[email]" value="{{ form.email }}" required class="account__input">
        <label class="account__label" for="RegisterPassword">{{ 'customer.register.password' | t }}</label>
        <input id="RegisterPassword" type="password" name="customer[password]" required class="account__input">
        <button class="btn btn--light account__submit" type="submit">{{ 'customer.register.submit' | t }}</button>
      {% endform %}
      <a class="account__link" href="{{ routes.account_login_url }}">{{ 'customer.register.returning_customer' | t }}</a>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Customer register",
  "tag": "section",
  "class": "section-account",
  "settings": []
}
{% endschema %}
