{{ 'section-projected-fund-allocation.css' | asset_url | stylesheet_tag }}

<div class="projected-fund-allocation-section animate-in-scroll-trigger">
  <div class=" page-width">
    <h2 class="projected-fund-allocation-title animate-item animate-item-0">{{ section.settings.title }}</h2>
    <div class="projected-fund-allocation-content">
      <div class="projected-fund-allocation-left">
        <div class="text-part animate-item animate-item-1">{{ section.settings.text_1 }}</div>
        <hr>
        <div class="text-part animate-item animate-item-2">{{ section.settings.text_2 }}</div>
        <hr>
        <div class="text-part animate-item animate-item-3">{{ section.settings.text_3 }}</div>
      </div>
      <div class="projected-fund-allocation-right animate-item animate-item-4">
        {% if section.settings.image != blank %}
          <img src="{{ section.settings.image | image_url: width: 350, height: 350 }}" alt="Fund Allocation Image">
        {% endif %}
        <div class="image-caption">{{ section.settings.image_caption }}</div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Projected Fund Allocation",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Projected Fund Allocation Drop 1"
    },
    {
      "type": "richtext",
      "id": "text_1",
      "label": "Text 1"
    },
    {
      "type": "richtext",
      "id": "text_2",
      "label": "Text 2"
    },
    {
      "type": "richtext",
      "id": "text_3",
      "label": "Text 3"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "image_caption",
      "label": "Image Caption"
    }
  ],
  "presets": [
    {
      "name": "Projected Fund Allocation",
      "category": "ADVANCED LAYOUT"
    }
  ]
}
{% endschema %}
